body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonAsLink {
  background: none !important;
  border: 'none';
  padding: 0 !important;
  color: #069;
  /* color: #3399ff; */
  text-decoration: underline;
  cursor: pointer;
}

.datePicker {
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 100%);
  align-items: center;
  min-height: 20px;
  line-height: 1.5;
  width: 143px !important;
  font-size: medium;
}

.react-datepicker-popper {
  z-index: 4 !important;
}
.label {
  /* font-weight: bold; */
  padding-right: 2%;
  font-size: medium;
  float: left;
  color: black;
}